<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758423681770-p7jlcimkcnlsumvnbkir30rmbd5teo8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758423681770-p7jlcimkcnlsumvnbkir30rmbd5teo8v</string>
	<key>API_KEY</key>
	<string>AIzaSyAHAxYPgpDiU0qbcKVPO4FfCD7IjX7qvEA</string>
	<key>GCM_SENDER_ID</key>
	<string>758423681770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRichText</string>
	<key>PROJECT_ID</key>
	<string>messenger-swiftui-60745</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-swiftui-60745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758423681770:ios:981e4f70b4fbfcf16a7593</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-swiftui-60745-default-rtdb.firebaseio.com</string>
</dict>
</plist>